nav h1 {
  color: white;
}

.nav-link {
  color: white;
}

.bg-light {
  background-color: #43c7aa !important;
}

body {
    background-image:url("../assets/ignasi_pattern_s.png");
 }

 .aboutmebox{
     width: 500px;
     height: 400px;
     color:#43c7aa !important;
     background-color: white;
     position: relative;
     margin: 2em;
 }