* {
  margin: 0;
  padding: 0;
}

nav h1 {
  color: white;
}

.nav-link {
  color: white;
}

.bg-light {
  background-color: #43c7aa !important;
}

body {
    background-image:url("../assets/images/ignasi_pattern_s.png");
 }

.aboutme, .portfolio {
  background-color: white;
  margin:2em;
  padding:2em;
}

main h1 {
  color: #43c7aa !important;
}

img {
  min-width: 100%;
  margin:1em,1em,1em,1em;
  padding:5px;
  float: left;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43c7aa !important;
  color: white;
  text-align: center;
}

.greenline {
  background-color: #43c7aa !important;
  margin:5px;
}

footer p {
    background-color: grey;
    margin: 0;
    padding: 10px;
}

