* {
  margin: 0;
  padding: 0;
}

nav h1 {
  color: white;
}

.nav-link {
  color: white;
}

.bg-light {
  background-color: #43c7aa !important;
}

body {
    background-image:url("../assets/images/ignasi_pattern_s.png");
 }

.aboutme {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
}

img {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
}

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43c7aa !important;
  color: white;
  text-align: center;
}

.greenline {
  background-color: #43c7aa !important;
  margin:5px;
}

footer p {
    background-color: grey;
    margin: 0;
    padding: 10px;
}